xpkg/DerivedData/
/xpkg/xpkg.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/*.xcuserstate
xpkg/xpkg.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/*.xcuserstate
xpkg/xpkg.xcodeproj/project.xcworkspace/xcuserdata/jack.xcuserdatad/*
/**/jack.xcuserdatad/
xpkg/Pods/build/